@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');
@font-face {
  font-family: AstroSpace;
  src: url(HTML_EXTRA_FILES = /fonts/AstroSpace.ttf);
}

:root {
	--color: #000000;
	--transition-time: 0.1s;
	--background-color: #2E3438;
	--highlight-color: #00A250;
	--navbar-color: #0B0C10;
	--main-text-color: #C5C6C7;
	--hover-color: #00CE66;
	--toggle-background: #D5D5D5;
	--toggle-highlight: #9600CC;
	--navbar-color1: #272727;
	--card-background-color: #373D41;	
	/*
	--color: #000000;
	--transition-time: 0.1s;
	--background-color: #1F2833;
	--highlight-color: #66FCF1;
	--navbar-color: #0B0C10;
	--main-text-color: #C5C6C7;
	--hover-color: #45A29E;
	--toggle-background: #D5D5D5;
	--toggle-highlight: #9600CC;
	--navbar-color1: #272727;
	--card-background-color: #272727;
	*/
}

[data-theme="dark"]{
	--color: #000000;
	--transition-time: 0.1s;
	--background-color: #D5D5D5;
	--highlight-color: #9600CC;
	--navbar-color: #0B0C10;
	--main-text-color: #000;
	--hover-color: #AE5ACD;
	--toggle-background: #1F2833;
	--toggle-highlight: #66FCF1;
	--navbar-color1: #272727;
	--card-background-color: #272727;
}

html {
	max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background-color: var(--background-color);
  margin: 0;
	min-height: 100vh;
	font-family: 'Open Sans';
	max-width: 100%;
}

img-gray {
  filter: grayscale(100%);
}

img {
	height: 400px;
	width: auto;
}

header {
  background-color: var(--navbar-color);
}

.myPlot {
	margin: 10px 10px;
	width: 400px !important;
	height: 400px !important;
}

recipe-wrapper {
	display: grid;
	justify-content: center;
	align-items: top;
	vertical-align:  top;
	width: max-content;
	/*min-width: 450px;*/
}

.blog-heading {
	font-family: 'Heebo';
	--bg-filter-opacity: 0.5;
	background-color: var(--background-color);
	text-align: center;
	width: 60%;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	min_width: 600px;
	/*
	display: flex;
	height: 20em;
	font-size: 1.5em;
	border-radius: 0.5em;
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 0px solid #ccc;
	text-decoration: none;
	*/
}

.blog-paragraph h1 {
	font-family: 'Heebo';
	color: var(--main-text-color);
}

.blog-paragraph {
	font-family: 'Heebo';
	--bg-filter-opacity: 0.5;
	background-color: var(--background-color);
	text-align: center;
	/*width: 40em;*/
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	/*min-width: 600px;*/
	width: 50vw;
	display: flex;
	flex-direction: column;
	/*height: 20em;*/
	/*font-size: 1.5em;*/
	/*border-radius: 0.5em;*/
	align-items: center;
	background-size: cover;
	background-position: center;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 0px solid #ccc;
	text-decoration: none;*/
}

.blog-paragraph h1 {
	font-family: 'Heebo';
	color: var(--highlight-color);
	vertical-align: top;
	font-size: 2em;
}

.blog-paragraph p {
	font-family: 'Heebo';
	text-align: justify;
	line-height: 1.6;
	color: var(--main-text-color);
	vertical-align: top;
	font-size: 1em;
	min_width: 900px;
}

.blog-paragraph ul {
	font-family: 'Heebo';
	text-align: justify;
	line-height: 1.6;
	color: var(--main-text-color);
	font-size: 1em;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--navbar-color); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--navbar-color); 
}

.blog-heading h1 {
	font-family: 'Heebo';
	color: var(--main-text-color);
	vertical-align: top;
	font-size: 3em;
}

.blog-heading d1 {
	font-family: 'Heebo';
	color: var(--highlight-color);
	vertical-align: top;
	font-size: 1em;
}

.main-nav {
  height: 90px;
}

#nav {
  z-index: 9999;
}

.main-nav .div {
	display: inline-block;
}

.logo {
  color: var(--highlight-color);
  line-height: 90px;
  font-size: 40px;
  text-decoration: ;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: var(--highlight-color);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: var(--hover-color);
  padding-bottom: 7px;
  border-bottom: 2px solid var(--hover-color);
}

li a.contact {
  background-color: var(--highlight-color);
  color: var(--navbar-color);
  padding: 9px 20px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: var(--navbar-color);
  color: var(--highlight-color);
  border-bottom: none;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
	display: inline-block;
	float: right;
	margin: 36px 20px;
	align-items: center;
	justify-content: right;
}

.theme-switch-wrapper em {
	margin-left: 10px;
	font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 35px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--toggle-background);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--toggle-highlight);
  bottom: 1px;
  content: "";
  height: 18px;
  left: 1px;
  position: absolute;
  transition: .4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--toggle-background);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: var(--highlight-color);
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: var(--navbar-color1);
    z-index: 9999;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

/*img {
	top: 10em;
	height: 12em;
	width: 12em;
	border-radius:1em;
}*/

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.cards-wrapper {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	padding: 4rem;
	margin: 0 auto;
	width: max-content;
}

.card {
	font-family: 'Heebo';
	--bg-filter-opacity: 0.5;
	background-color: var(--card-background-color);/*var(--background-color);*/
	background-image: "images/gears.jpg";
	height: 20em;
	width: 15em;
	font-size: 1.5em;
	color: var(--main-text-color);
	border-radius: 0em;
	padding: 1em;
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 0px solid var(--card-background-color);
	text-decoration: none;
}

.card:hover {
	transform: rotate(0);
}

.card h1 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.2em;
}

.card p {
	font-size: 0.75em;
	font-family: 'Open Sans';
	margin-top: 0.5em;
	line-height: 2em;
}

.card .tags {
	display: flex;
}

.card .tags .tag {
	font-size: 0.75em;
	background: var(--highlight-color);
	border-radius: 0.3rem;
	padding: 0 0.5em;
	margin-right: 0.5em;
	line-height: 1.5em;
	transition: all, var(--transition-time);
	color: black;
}

.card:hover .tags .tag {
	background: black;
	color: var(--main-text-color);
}

.card .date {
	position: absolute;
	background: inherit;
	border-radius: 0.3rem;
	top: 0.5em;
	right: 0;
	font-size: 0.75em;
	color: var(--highlight-color);
	font-size: 0.75em;
	padding: 0 0.5em;
	margin-right: 0.5em;
	line-height: 1.5em;
	transition: all, 0.1;
}

.card .img {
	position: absolute;
	top: 1.8em;
	right: 0;
	height: 200px;
	width: 15em;
	border-radius: 0rem;
	filter: grayscale(100%);
}

.card:before, .card:after {
	content: '';
	transform: scale(0);
	transform-origin: 50% 500%; 
	/*33% 72%;*/
	border-radius: 0%;
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: -5;
	transition: all, var(--transition-time);
	transition-timing-function: ease-in-out;
}

.card:before {
	background: var(--background-color);
	width: 200%;
	height: 200%;
}

.card:after {
	background: var(--background-color);
	width: 200%;
	height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}